{% load static %}
{% with request.resolver_match.view_name as address %}
<nav class="navbar navbar-light" style="background-color: lightskyblue">
  <div class="container">
    <a class="navbar-brand" href="{% url 'weather:index' %}">
      <img src="{% static 'img/sun.gif' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      <span style="color:red">Зэ</span>ВэZэ
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item"> 
       <p>Надпись</p>
      </li>
      {% endwith %}
    </ul>
  </div>
</nav>      