{% extends "base.html" %}
{% load static %}

{% block title %}Погода в Вашем городе{% endblock %}
{% block content %}
  <p>Один старый балбес ({{ years_old }} лет) выучился на курсах Python-разработчика. Наивно думал, что его возьмут на работу в IT!))</p>
  <p>Но не тут-то было! Такие старички-джуны не нужны там.</p>
  <p>И вот, чтобы знания не пропадали зря и не закисали, он решил сделать этот незатейливый сайт.</p>
  <p>Так что пользуйтесь на здоровье! А если кому-нибудь понадобится такой специалист, как автор сайта, то вот его электронный адрес:</p>
  <p>Skakovsku@yandex.ru</p>
{% endblock %}