{% extends "base.html" %}
{% load static %}

{% block title %}Погода в Вашем городе{% endblock %}
{% block content %}
  <p>Автор сайта: Евгений Скаковский</p>
  <p>Электронный адрес: Skakovsku@yandex.ru</p>
  <p>Связь через Telegram (предпочитаемый способ):
    <a href="https://t.me/Skakovsky_Evgeniy">https://t.me/Skakovsky_Evgeniy</a>
  </p>
  <p>Githab:
    <a href="https://github.com/Skakovsku/">https://github.com/Skakovsku/</a>
  </p>
  <p>
    Ресурс создан при помощи:
    Python, Django, ООП, API, бэкенд-разработка.
  </p>
{% endblock %}