{% extends "base.html" %}
{% load static %}

{% block title %}Погода в Вашем городе{% endblock %}
{% block content %}
  <p>На сайте использованы материалы с сервисов:</p>
  <p> - "OpenWeather", <a href="https://openweathermap.org" target="blank">openweathermap.org</a>;</p>
  <p> - "Ежедневные гороскопы", <a href="https://ignio.com/" target="blank">ignio.com</a>;</p>
  <p> - "Все анекдоты", <a href="https://www.allanecdots.ru"  target="blank">allanecdots.ru</a>.</p>
  <hr>
  <p>Автор проекта - Евгений Скаковский.</p>
  <a class="btn btn-primary" href="{% url 'about:message' name %}" role="button">Написать автору</a>
{% endblock %}
