{% extends "base.html" %}
{% load static %}
{% block title %}
  Отправка сообщения
{% endblock %}

{% block content %}
<h2>Отправка сообщения автору сайта</h2>
  <div class="container py-5"> 
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card" style="background-color: PaleTurquoise">
          <div class="card-header"><b>Отправка сообщения</b></div>
          <div class="card-body"> <p>Сообщение для автора отправлено</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
