{% extends "base.html" %}
{% load static %}

{% block title %}Отправка сообщения{% endblock %}
{% block content %}
  <h2>Отправка сообщения автору сайта</h2>
  <form method="post">
    <div class="mb-3">
      <label class="form-label">Сообщение для автора сайта:</label>
      <input type="text" class="form-control" name="message">
      {% csrf_token %}
      {{ form }}
      <br>
      <input class="btn btn-primary" type="submit" value="Отправить сообщение">
    </div>
  </form>
{% endblock %}