<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="weather, world, weather, layer" />
    <meta name="description" content="A layer with current weather conditions in cities for world wide" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/popper.min.js' %}">
    <link rel="shortcut icon" href="{% static 'img/fav/fav.ico' %}"
      type="image">
    <link rel="apple-touch-icon" sizes="180x180"
      href="{% static 'img/fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32"
      href="{% static 'img/fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16"
      href="{% static 'img/fav/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" content="#ffffff">
    <meta name="yandex-verification" content="ff2ff440f57e8e3e" />
    <!-- Yandex.Metrika counter -->
      <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(91919899, "init", {
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true
        });
      </script>
      <noscript><div><img src="https://mc.yandex.ru/watch/91919899" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <title>
      {% block title %}
        ЗэВэЗэ
      {% endblock %}
    </title>
    <style type="text/css">
      .ignioInformerSelectSign { /* Выбор знака Зодиака */
        font-size: 16px; /* Размер шрифта */
        color: black; /* Цвет шрифта */
        margin: 0 5px 0 0; /* Отступ между знаком Зодиака и датой */
        background: #40E0D0; /* Цвет фона */
      }
        .ignioInformerSelectDate {
        font-size: 16px; /* Размер шрифта */
        color: black; /* Цвет шрифта */
        margin: 0 0 0 5px; /* Отступ между знаком Зодиака и датой */
        background: #40E0D0; /* Цвет фона */
      }
    </style>
  </head>

  <body style="background-color: lightskyblue">
    <header>
      {% include "includes/header.html" %}
    </header>

    <main style="background-color: lightskyblue">
      <div class="container py-5">
        {% block content %}
          Контент не подвезли :(
        {% endblock %}
      </div>
    </main>

    <footer>
      {% include "includes/footer.html" %}
    </footer>
    <script type="text/javascript" src="https://allanecdots.ru/vidgets/allanecdots.js?n=2&nocensored=1"></script>
    <script type="text/javascript" charset="utf-8" src="//ignio.com/r/export/utf/tinyjs/daily/anti.js"></script>
    <script type="text/javascript" charset="utf-8" src="//ignio.com/r/export/utf/tinyjs/daily/com.js"></script>
    <script type="text/javascript" charset="utf-8" src="//ignio.com/r/export/utf/tinyjs/daily/ero.js"></script>
    <script type="text/javascript" charset="utf-8" src="//ignio.com/r/export/utf/tinyjs/daily/cook.js"></script>
    <script type="text/javascript" charset="utf-8" src="//ignio.com/r/export/utf/tinyjs/daily/lov.js"></script>
    <script type="text/javascript" charset="utf-8" src="//ignio.com/r/export/utf/tinyjs/daily/mob.js"></script>
    <script type="text/javascript" charset="utf-8" src="//ignio.com/r/export/utf/tinyjs/weekly/lov.js"></script>
  </body>
</html>
