{% extends "base.html" %}
{% load static %}
{% block title %}{{ text_index }}{% endblock %}
{% block content %}
<div class="card mb-3" style="background-color: PaleTurquoise">
  <div class="card-header">
    <h3>Ваш населённый пункт - {{ town }}</h3>
  </div>
  <div class="card-body">
    <h4>Прогноз на {{ data_day }}</h4>
    <div class="btn-group" role="group" aria-label="Basic example">
      <a href="{% url "weather:add_town" text='main' %}" class="btn btn-primary">Настроить местоположение</a>
      <a href="{% url "weather:town" town %}" class="btn btn-primary">Вернуться на главную</a>
    </div>
  </div>
</div>
<table class="table table-sm table-striped table-bordered table-info">
  <thead>
    <tr>
      {% for time in time_day %}
        <th scope="col">{{ time }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for sign in weather %}
        {% if forloop.first %}
          <th>{{ sign }}</th>
        {% else %}
          <td><img src="{{ sign }}" width="35" height="35"></td>
        {% endif %}
      {% endfor %}
    </tr>
    {% for data in for_data %}
      <tr>
        {% for string in data %}
          {% if forloop.first %}
            <th>{{ string }}</th>
          {% else %}
            <td>{{ string }}</td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}