{% extends "base.html" %}
{% load static %}
{% block title %}{{ text_index }}{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header">
    <h3>Ваш населённый пункт - {{ town }}</h3>
  </div>
  <div class="card-body">
    <p class="card-text">{{ text_town }}</p>
    <a href="{% url "weather:add_town" text='main' %}" class="btn btn-primary">Настроить местоположение</a>
  </div>
</div>
<table class="table table-sm table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Температура воздуха, °C:</th>
      <th scope="col">Атмосферное давление, Гпа:</th>
      <th scope="col">Видимость, м:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
{% endblock %}