{% extends "base.html" %}
{% load static %}
{% block title %}{{ text_index }}{% endblock %}
{% block content %}

<div class="card mb-3" style="background-color: PaleTurquoise">
  <div class="card-header">
    <h3>Ваш населённый пункт - {{ name }}</h3>
  </div>
  <div class="card-body">
    <h4>Прогноз на {{ data_day }}</h4>
    <div class="btn-group" role="group" aria-label="Basic example">
      <a href="{% url "weather:add_town" text='main' town_current="name" %}" class="btn btn-outline-primary">Настроить местоположение</a>
      <a href="{% url "weather:town" name %}" class="btn btn-outline-primary">Вернуться на главную</a>
    </div>
  </div>
</div>

<div class="card" style="background-color: lightskyblue">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      {% for day, time in day_one.items %}
        <li class="nav-item">
          {% if day == data_day %}
            <a class="nav-link active" aria-current="true" style="background-color: lightskyblue; border-color:lightskyblue" href="{% url "weather:for_day" name time %}">{{ day }}</a>
          {% else %}
            <a class="nav-link" href="{% url "weather:for_day" name time %}">{{ day }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm table-striped table-bordered table-info">
        <thead>
          <tr>
            {% for time in time_day %}
              <th scope="col">{{ time }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for sign in weather %}
              {% if forloop.first %}
                <th>{{ sign }}</th>
              {% else %}
                <td><img src="{{ sign }}" width="35" height="35"></td>
              {% endif %}
            {% endfor %}
          </tr>
          {% for data in for_data %}
            <tr>
              {% for string in data %}
                {% if forloop.first %}
                  <th>{{ string }}</th>
                {% else %}
                  <td>{{ string }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}