{% extends "base.html" %}
{% load static %}

{% block title %}{{ text_index }}{% endblock %}
{% block content %}
  <div class="card mb-3" style="background-color: PaleTurquoise">
    <div class="card-header">
      <h3>Ваш населённый пункт - {{ name }}</h3>
    </div>
    <div class="card-body">
      <p class="card-text">{{ text_town }}</p>
      <a href="{% url "weather:add_town" text='main' %}" class="btn btn-primary">Настроить местоположение</a>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100" style="background-color: PaleTurquoise">
        <div class="card-body">
          <h5 class="card-title">Погода в городе {{ name }} в текущий момент</h5>
          <div class="row">
            <div class="col-2"><img src="{{ sign }}" class="card-img-top"></div>
            <div class="col-10"> {{ description }}</div>
          </div>
          <div class="row">
            {% for key, val in weather.items %}
              {% if key == 'Направление:' %}
                <div class="col-5">{{ key }}</div>
                <div align="right" class="col-7">{{ val }}</div>
              {% else %}
                <div class="col-9">{{ key }}</div>
                <div align="right" class="col-3">{{ val }}</div>
              {% endif %}
              {% if not forloop.last %}<hr>{% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">О{{ time_update }}</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="background-color: PaleTurquoise">
        <div class="card-body">
          <h5 class="card-title">Прогноз на 5 суток</h5>
          <div class="row">
            {% for date, value in forecast.items %}
              
              <div class="col-7"><strong><em>{{ date }}</em></strong></div>
              <div class="col-5">
                <a href="{% url "weather:for_day" name date lat lon %}">
                  <em>подробнее</em>
                </a>
              </div>
              <div class="col-2"><img src="{{ value.sign }}" class="card-img-top"></div>
              <div class="col-10"> {{ value.description }}</div>
              <div class="col-9">Температура воздуха:</div>
              <div align="right" class="col-3">{{ value.temp }} °C</div>
              {% if not forloop.last %}<hr>{% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{ time_update }}</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="background-color: PaleTurquoise">
        <div class="card-body">
          <h5 class="card-title">Случайный анекдот</h5><div id='allanecdots'></div>
          <a href="https://allanecdots.ru/" target="_blank">Свежие анекдоты</a>          
        </div>
        <div class="card-footer">
          <small class="text-muted">
            <a href="https://allanecdots.ru/" target="_blank">На сайт с анектотами</a>
          </small>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
